<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextUtils</title>
</head>
<body>
<h1>Welcome to Text Analyazer Website</h1>
<hr>

<form action="/analyze" , method="get">
    <h3>Enter the text below</h3>
    <textarea name="text" style="width: 288px; height: 39px;"></textarea>
    <br>

    <input type="checkbox" name="removepunc"> Remove Punctuations
    <input type="checkbox" name="fullcap"> Upper Case
    <input type="checkbox" name="removenewline"> New Line Remover
    <br><br>

    <button type="submit">Analyse Text</button>

</form>


</body>
</html>